<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Google Book API frontend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="style/main.css"
    />
  </head>
  <body>
    <div id="app">
      <form
        class="md-layout md-alignment-center-center"
        @submit.prevent="search"
      >
        <div class="md-layout-item">
          <md-field>
            <label>Book title</label>
            <md-input v-model="bookTitle" ref="searchBox"></md-input>
            <span class="md-helper-text"
              >Enter the book title you are looking for</span
            >
          </md-field>
        </div>
        <div class="md-layout-item md-size-15">
          <md-button
            class="md-raised md-primary md-color-blue"
            name="ok"
            type="submit"
          >
            Search
          </md-button>
        </div>
      </form>
      <div class="md-layout" v-if="fetchedBooks.length>0">
        <div class="md-layout-item">
          <md-card v-for="book in fetchedBooks" :key="book.id"
            ><md-card-header
              ><md-card-media class="md-medium" v-if="book.cover !== null">
                <img :src="book.cover" alt="book cover" /> </md-card-media
              ><md-card-header-text>
                <div class="md-title">{{ book.title }}</div>

                <div
                  class="md-subhead no-desc"
                  v-if="book.description === null"
                >
                  no description available
                </div>
                <div class="md-subhead" v-else-if="book.description.length>25">
                  {{ book.description.slice(0, 24).join(' ') }}...
                </div>
                <div class="md-subhead" v-else>
                  {{ book.description.join(' ') }}
                </div></md-card-header-text
              > </md-card-header
            ><md-card-expand v-if="book.description !== null">
              <md-card-actions md-alignment="right">
                <md-card-expand-trigger>
                  <md-button class="md-icon-button">
                    <md-icon>keyboard_arrow_down</md-icon>
                  </md-button>
                </md-card-expand-trigger>
              </md-card-actions>

              <md-card-expand-content>
                <md-card-content>
                  {{ book.description.join(' ') }}
                </md-card-content>
              </md-card-expand-content> </md-card-expand
            ><br
          /></md-card>
        </div>
      </div>
      <div v-else class="results-placeholder">
        results will be shown here...
      </div>

      <md-snackbar
        md-position="center"
        :md-duration="3000"
        :md-active.sync="showSnackbar"
      >
        <span>No seach results found! Please use a different phrase</span>
      </md-snackbar>
      <md-snackbar
        md-position="center"
        :md-duration="1000"
        :md-active.sync="loading"
      >
        <span>loading more...</span>
      </md-snackbar>
    </div>

    <script src="main.js"></script>
  </body>
</html>
